<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <div>
    <label>
      <%= f.check_box :is_admin %>
      Is admin
    </label>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn primary" %>
  </div>
<% end %>
