<fieldset class="user-list">
  <legend>Users</legend>

  <table>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, edit_user_path(user) %></td>
        <td><%= user.is_admin ? 'Admin' : '' %></td>
        <td class="edit"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="edit"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'New User', new_user_path, :class => "btn secondary" %>
</fieldset>
