<fieldset class="login-box">
  <legend>Forgot your password?</legend>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div><%= f.submit "Reset password", :class => "btn primary" %></div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</fieldset>
