<% batches.each_with_index  do |batch, index| %>
  <tr <% if index == 0 %>class="first-report-row"<% end %>>
    <% if index == 0 %>
      <td rowspan="<%= batches.count %>" class="report-icon no-highlight <%= type.downcase %>">
        <div>
          <%= type %>
        </div>
      </td>
    <% end %>
    <td><%= batch.site.name %></td>
    <td><%= batch.crop.name %></td>
    <td><%= batch.type.name %></td>
    <td><%= batch.generation %></td>
    <td><%= batch.size.name %></td>
    <td><%= batch.total_trays %></td>
    <td>W<%= batch.start_week %></td>
    <td>W<%= batch.germinate_week %></td>
    <td>W<%= batch.pot_week %></td>
    <td>W<%= batch.sale_week %></td>
    <td>W<%= batch.expiry_week %></td>
    <td>
      <select data-batch-id="<%= batch.id %>">
        <%= options_for_select([[stage.title, stage.name.demodulize.downcase],
          [stage.next.title, stage.next.name.demodulize.downcase]], batch.stage) %>
      </select>
    </td>
  </tr>
<% end %>
