<nav>
  <span class="page-title">
    Week <%= @week_number %>
  </span>
  <span class="search">
    <button class="btn primary" id="print-tasks">Print Task List</button>
    <span>Include:</span>
    <label><input type="checkbox" id="overdue" /> Overdue tasks</label>
    <label><input type="checkbox" id="completed" /> Completed tasks</label>
  </span>
</nav>

<script type="text/html" id="report-row-template">
  <!-- ko foreach: batches -->
    <tr data-bind="css: { 'first-report-row': $index() === 0 }">
      <!-- ko if: $index() === 0 -->
        <td data-bind="attr: { rowspan: $parent.batches().length }, css: $parent.typeClass" class="report-icon no-highlight">
          <div data-bind="text: $parent.type"></div>
        </td>
      <!-- /ko -->
      <td data-bind="text: site.name"></td>
      <td data-bind="text: crop.name"></td>
      <td data-bind="text: type.name"></td>
      <td data-bind="text: generation"></td>
      <td data-bind="text: size.name"></td>
      <td data-bind="text: total_trays"></td>
      <td data-bind="text: start_week"></td>
      <td data-bind="text: germinate_week"></td>
      <td data-bind="text: pot_week"></td>
      <td data-bind="text: sale_week"></td>
      <td data-bind="text: expiry_week"></td>

      <td>
        <select data-bind="options: $parent.availableStages, optionsText: 'title', value: stage"></select>
      </td>
    </tr>
  <!-- /ko -->
</script>

<!-- ko foreach: stages -->
  <div class="report-section">
    <fieldset>
      <legend data-bind="text: title"></legend>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>Site</th>
            <th>Crop</th>
            <th>Type</th>
            <th>Generation</th>
            <th>Size</th>
            <th>Total trays</th>
            <th>Start</th>
            <th>Germinate/Root</th>
            <th>Pot/Ground</th>
            <th>Sale</th>
            <th>Expiry</th>
            <th>Stage</th>
          </tr>
        </thead>
        <tbody>
          <!-- ko template: { name: 'report-row-template', data: {
            batches: currentBatches,
            typeClass: { current: true },
            type: 'Current',
            availableStages: $root.getAvailableStages($data) }} -->
          <!-- /ko -->

          <!-- ko template: { name: 'report-row-template', data: {
            batches: overdueBatches,
            typeClass: { overdue: true },
            type: 'Overdue',
            availableStages: $root.getAvailableStages($data) }} -->
          <!-- /ko -->

          <!-- ko template: { name: 'report-row-template', data: {
            batches: completedBatches,
            typeClass: { completed: true },
            type: 'Completed',
            availableStages: $root.getAvailableStages($data) }} -->
          <!-- /ko -->
        </tbody>
      </table>
    </fieldset>
    <div class="fieldset-form-actions">
      <a href="">Undo Changes</a>
      <button class="btn update-report">Update</button>
    </div>
  </div>
<!-- /ko -->
<%= render 'reports/report_section', :stage => Stage::Sow, :batches =>
  @batches.where("(stage = ? AND start_week <= ?) OR (stage = ? AND start_week = ?)",
      :sow, @week_number, :germinate, @week_number)
    .order("start_week")
%>
<%= render 'reports/report_section', :stage => Stage::Germinate, :batches =>
  @batches.where("(stage = ? AND germinate_week <= ?) OR (stage = ? AND germinate_week = ?)",
      :germinate, @week_number, :pot, @week_number)
    .order("germinate_week")
%>
<%= render 'reports/report_section', :stage => Stage::Pot, :batches =>
  @batches.where("(stage = ? AND pot_week <= ?) OR (stage = ? AND pot_week = ?)",
      :pot, @week_number, :sale, @week_number)
    .order("pot_week")
%>
<%= render 'reports/report_section', :stage => Stage::Sale, :batches =>
  @batches.where("(stage = ? AND sale_week <= ?) OR (stage = ? AND sale_week = ?)",
      :sale, @week_number, :expiry, @week_number)
    .order("sale_week")
%>

<% content_for :action_specific_js do %>
  <%= javascript_include_tag "reports" %>
  <script type="text/javascript">
    $(function() {
      loadReports(<%= @batches.to_json.html_safe %>, <%= @stages.to_json.html_safe %>);
    });
  </script>
<% end %>
