<!DOCTYPE html>
<html>
<head>
  <title>Cultivate London</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "Database", database_path, :class => "database " + (controller.controller_name == "database" ? "selected" : "") %>
      <%= link_to "Reports", reports_path, :class => "reports " + (controller.controller_name == "reports" ? "selected" : "") %>
    </nav>
    <span class="brand"><a href="/"><img src="/img/landManagementLogo_v01.png" /></a></span>
  </header>

  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:warning] %>
    <div class="flash warning"><%= flash[:warning] %></div>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :action_specific_js if content_for?(:action_specific_js) %>
</body>
</html>
