<!DOCTYPE html>
<html>
<head>
  <title>Cultivate London</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "Database", { :controller => "database", :action => "index"}, :class => (controller.controller_name == "database" ? "selected" : "") %>
      <%= link_to "Reports", {:controller => "reports", :action => "show"}, :class => (controller.controller_name == "reports" ? "selected" : "") %>
    </nav>
    <span class="brand">Land Management</span>
  </header>
  <div class="main">
    <%= yield %>
  </div>

</body>
</html>
